Source: ros-groovy-visp
Section: misc
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libois-dev,libv4l-dev,libbz2-dev,doxygen,libfreenect-dev,ffmpeg,libavcodec-dev,libavformat-dev,libavutil-dev,libswscale-dev,libsoqt4-dev,libjpeg62-dev,libogre-dev,libpng12-dev,ros-groovy-opencv2,libdc1394-22-dev,libcoin60-dev,libxml2-dev,cmake,liblapack-dev,libx11-dev,libusb-dev
Homepage: http://www.ros.org/wiki/visp
Standards-Version: 3.9.2

Package: ros-groovy-visp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libois-dev,libv4l-dev,libfreenect-dev,ffmpeg,libavcodec-dev,libavformat-dev,libavutil-dev,libswscale-dev,libsoqt4-dev,libjpeg62-dev,libogre-dev,libpng12-dev,ros-groovy-opencv2,libdc1394-22-dev,libcoin60-dev,libxml2-dev,liblapack-dev,libx11-dev,libusb-dev
Description: ViSP, standing for Visual Servoing Platform, is unique. This software is a complete cross-platform solution that allows prototyping and developing applications in visual tracking and visual servoing. ViSP can be useful in robotics, computer vision, augmented reality and computer animation.
